
<body>
    <%- partial("/partial/_nav") %>
<div id="layout" class="pure-g">
<article class="pure-u-1">
<%- partial("/partial/_brand") %>

<%
var allPosts = public.articles._data;
var desired = {};
for (var slug in allPosts) {
  if (allPosts[slug].status === "draft") {
    desired[slug] = allPosts[slug];
  }
};
var allTags = [];
for (var slug in desired) {
    var postTags = desired[slug].tags.split(',');
    allTags = allTags.concat(postTags);
}
uniqueTags = allTags.filter(function(item, pos) {
    return allTags.indexOf(item) == pos;
});
uniqueTags.sort();

var counts = {};

for (var i = 0; i< allTags.length; i++) {
    var tag = allTags[i];
    counts[tag] = counts[tag] ? counts[tag]+1 : 1;
}
%>
<% function excerpt(content) {
    if(content.indexOf("<!-- more -->") == -1) return content;
    else return content.split("<!-- more -->")[0];
  } 

%>

<section>
    <h2>Drafts</h2>
    <div class="postlist">
        <% for (var slug in desired){ %>
          <div class="post", data-tags="<%= desired[slug].tags %>">
              <h3><a href="articles/<%= slug %>.html"><%= desired[slug].title %></a></h3>
              <div class="undertitle">
                  <span class="date"><%= desired[slug].date %></span>
                  <div class="post-excerpt">
                      <%- excerpt(partial("articles/" + slug)) %>
                      <span><a class="blog-link" href="articles/<%= slug %>.html">Read More &hellip;</a></span>
                  </div>
              </div>
          </div>
        <% }; %>
    </div>   
</section>

  <%- partial("partial/_footer.html") %>

</article>
</div>
</body>