<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<% 
  var slug = current.path[1];
  var title = public.articles._data[slug].title;
%>
<%- partial("../partial/_header") %>
<%- partial("../partial/_nav") %>
<article>
  <h1>
    <%- title %>
  </h1>
  <%- yield %>
  <%- partial("../partial/_footer") %> 
</article>
</html>